.book-summary {
  counter-reset: summary-parent 0 summary-child 0;
}
.book-summary ul.summary>li>a {
  counter-reset: summary-child;
  counter-increment: summary-parent;
}
.book-summary ul.summary>li>ul>li>a {
  counter-increment: summary-child;
}
.book-summary ul.summary>li>a::before {
  content: counter(summary-parent)".";
}
.book-summary ul.summary>li>ul>li>a::before {
  content: counter(summary-parent)"."counter(summary-child)".";
}

